<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  </head>
  <body>
    <div class="container-fluid">
  <div class="row vh-100 justify-content-center align-items-center">
    <div class="col-4">
      <div class="d-flex mb-4 flex-column justify-content-center text-center">
        <h4 class="success-text">Parabéns</h4>
        <span>Seu email foi verificado com sucesso</span>
      </div>
      <div class="d-flex mb-5 justify-content-center">
        <img
          style="width: 150px; height: auto"
          src="http://catbahia.com.br/wp-content/uploads/2018/12/207b5ec15a868c9753a7872eeb96cb0a.png"
          alt=""
        />
      </div>
      <div class="d-flex justify-content-center">
        <a href="https://tcc-angular.vercel.app/login?returnUrl=%2F"
          >Retornar para o site</a
        >
      </div>
    </div>
  </div>
</div>
  </body>
</html>